<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>EvoirEvent</title>
</head>
<body>
    <header> 
        <div class="navbar">
            <label for="i_check" class="burger" >
                <i class="fa-sharp fa-solid fa-bars"></i>
            </label>
            <label for="i_croos" class="cross">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </label>
            <nav class="nav_bar">
                <ol class="nav_links">
                    <li> <a href="#">Quienes Somos</a>
                        <ul class="hidden">
                            <li><a href="#">historia de la idea</a></li>
                            <li><a href="#">Los de atraz</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Evento</a>
                        <ul class="hidden">
                            <li><a href="#">Eventos empresariales</a></li>
                            <li><a href="#">Eventos Sociales</a></li>
                            <li><a href="#">Eventos Corporativos</a></li>
                            <li><a href="#">Cumpleaños</a></li>
                            <li><a href="#">Baby Shower</a></li>
                            <li><a href="#">Casamientos</a></li>
                            <li><a href="#">Aniversarios</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Disponibilidad</a>
                        <ul class="hidden">
                            <li><a href="#">Salones</a></li>
                            <li><a href="#">Quintas</a></li>
                            <li><a href="#">Estancias</a></li>
                            <li><a href="#">Restaurantes</a></li>
                            <li><a href="#">Estadios</a></li>
                            <li><a href="#">Lugares Especiales</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Temas</a>
                        <ul class="hidden">
                            <li><a href="#">Ambientaciones</a></li>
                            <li><a href="#">Disfrases</a></li>
                            <li><a href="#">Producciones ambientales</a></li>
                            <li><a href="#">Paisajismos</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Vestimenta</a>
                        <ul class="hidden">
                            <li><a href="#">Novias</a></li>
                            <li><a href="#">Madrinas</a></li>
                            <li><a href="#">Quince años</a></li>
                            <li><a href="#">Trajes</a></li>
                            <li><a href="#">Trajes de etiqueta</a></li>
                            <li><a href="#">Disfraces niños</a></li>
                            <li><a href="#">Difraces tematicoas adultos</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Servicios</a>
                        <ul class="hidden">
                            <li><a href="#">Planners</a></li>
                            <li><a href="#">Catering</a></li>
                            <li><a href="#">Artistas</a></li>
                            <li><a href="#">Eventos Especiales</a></li>
                            <li><a href="#">Sorpresas</a></li>
                            <li><a href="#">Tecnicos en Ambientacion</a></li>
                            <li><a href="#">Florerioas</a></li>
                            <li><a href="#">Fotografos</a></li>
                            <li><a href="#">Mas..</a></li>
                        </ul>
                    </li>
                    <li> <a href="#">Experiencias</a>
                        <ul class="hidden">
                            <li><a href="#">Galeria Casamieto</a></li>
                            <li><a href="#">Cumpleaños</a></li>
                            <li><a href="#">Eventos empresariasles</a></li>
                            <li><a href="#">Jornadas Empresariales</a></li>
                            <li><a href="#">Fiestas Varias</a></li>
                        </ul>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="container_header">
            <div class="logo">
                <img src="../images/Logo/Evior (2).jpg" alt="" class="logo">
                <a href="./index.html"></a>
            </div>
            <div class="name"> 
                <h2>Evior Events</h2>
            </div>
        </div>
        
        <div class="search">
            <input type="text" name="buscar" class="sch_imput" placeholder="buscar">
            <button class="seeker">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            </button>            
        </div>

        <section class="account">

            <div class="list">
                <a class="Login" href="#">
                    <i class="fa-sharp fa-solid fa-id-card"></i>
                    <p>Mi lista de Evento</p>
                </a>
            </div>
    
            <div class="list">
                <a class="Login" href="#">
                    <i class="fa-sharp fa-solid fa-user-tie"></i>
                    <p>Iniciar Sesión</p>
                </a>
            </div>
    
            <div class="list">
                <a class="Login" href="#">
                    <i class="fa-sharp fa-solid fa-user-pen"></i>
                    <p>Registro</p>
                </a>
            </div>
            

        </section>
        
    </header>
    <!-- seccion para slider -->
    <main>        
        <section class="container">
            <ul class="slider_list">
                <!-- <h1>Como hago la fiesta</h1> -->
                <li class="slide">
                    <img class="img_silde" src="../images/slider/priscilla-du-preez-Q7wGvnbuwj0-unsplash.jpg" alt="lali"></li>
                <!-- <h2>..No te preocupes...</h2> -->
                <li class="slide">
                    <img class="img_silde" src="../images/slider/arion-reyvonputra-_8RGPzJimWw-unsplash.jpg" alt="Mariano"></li>
                <!-- <h2>...Nosotrxs nos ocupamos...</h2> -->
                <li class="slide">
                    <!-- <h3>"El clima tampoco es problema"</h3> -->
                    <img class="img_silde" src="../images/slider/photos-by-lanty-dcb2pog89fQ-unsplash.jpg" alt="mick"></li>
                <li class="slide">
                    <!-- <h3>Decubri la manera de percibir distintos estilos de vivir tu evento de la forma mas relajada y agraciada posible. Comfia, Solta y dejate llevar por tu acontecimiento </h3> -->
                    <img class="img_silde" src="../images/slider/carlo-buttinoni-lKCpUYu2TDk-unsplash.jpg" alt="benito"></li>
                <li class="slide">
                    <img class="img_silde" src="../images/slider/priscilla-du-preez-Q7wGvnbuwj0-unsplash.jpg" alt="lali"></li>
            </ul>
            <!-- <div>
                
                    
            </div>  -->
        </section>
    </main>
    
    <form action="GET"  class="section">
        <section class="availbility">
            <div class="title">
                <H2>Encontra la disponibilidad que tenemos para tu evento</H2>
            </div>
            <div class="text" >
                <h3>Podes elegir tu lugar y conoser todo nuestro servicios para poder reservar y asegurar tu fecha en cuatro simples</h3>
            </div> 
        </section>             
        <aside class="inputs">
            <form action="Get" name="consult">
                <div class="option">
                    <input required="" type="date" name="date" id="fecha" class="input">
                    <label class="label" for="fecha">
                        Seleccione una fecha
                        </label>
                </div>
                <div class="option">
                    <input required="" type="number" name="number" class="input" maxlength="6">
                    <label class="label" for="cantidad">Cantidad de invitados</label>
                </div>
                <div class="option">
                    <input required="" type="text" name="text" class="input">
                    <label class="label" for="username">Username</label>
                </div>
                <div class="option">
                    <select name="zone" id="zone" class="choice">
                        <label for="select" class="label">Selecionar zona</label>
                        <option value="zona" class="input">
                            <p class="label">Seleccionar</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona1</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona2</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona3</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona4</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona5</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona6</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona7</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona8</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona9</p>
                        </option>
                        <option value="zona" class="input">
                            <p class="label">zona10</p>
                        </option>
                    </select>
                </div>
                <div class="btn">
                    <button type="send" class="send">
                        <a href="./login.html"></a>Consultar</button>
                    <button type="reset" class="send">Correguir</button>
                </div>
            </form>
        </aside>
        
    </form>
        <section class="salones">
            <ul class="container_saloon">
                <li>
                    <a class="called" href="#">
                        <img src="../images/salones/restaurantes (2).jpg" alt="" class="images">
                    Salones
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/gestor-eventos-laptop-salon-banquetes.jpg" alt="" class="images">events planer
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/estancias.jpg" alt="" class="images">Quintas
                    </a>
                </li>
                <li>
                    <a href="#"<img src="../images/salones/ben-rosett-nYugmV-SY6s-unsplash.jpg" alt="">Estancias
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/restaurantes.jpg" alt="" class="images">Restoranes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/katering.jpg" alt="" class="images">Catering
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/stem-list-EVgsAbL51Rk-unsplash.jpg" alt="" class="images">Pantalla
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../images/salones/Dj1.jpg" alt="" class="images"><p>DJ´S</p> 
                    </a>
                </li>
            </ul>
            <h2>Todo lo que nesesites</h2>
            <button>Buscar</button>
            <!-- <img src="../images/home/stem-list-EVgsAbL51Rk-unsplash.jpg" alt=""> -->
        </section>
        <!-- <img src="../images/home/hannah-busing-URVe89DA5Cw-unsplash.jpg" alt=""> -->
        <Footer>
            <section class="container_footer">
                <span class="contacfoot">
                    <h3>EvoirEvent S.A.</h3>
                    <a href="#">Contacto</a>
                    <a href="#">Envíos & Contrtaciones</a>
                    <a href="#">Políticas de privacidad</a>            
                </span>
                
                <span class="footLog">
                    <img src="../images/Logo/Evior (1).jpg" class="logo2" alt="Icono de Aires">
                </span>
                
                <span class="social_networks">
                    <h3>Redes Sociales</h3>
                    <a href="#"><i class=""></i> Facebook</a>
                    <a href="#"><i class=""></i> Instagram</a>
                    <a href="#"><i class=""></i> Tiktok</a>
                    <a href="#"><i class=""></i> twitter</a>
                    <a href="#"><i class=""></i> Pinterest</a>
                </span>
            </section>
        </Footer>
        <section class="copyright">
            <hr>
            <p>&copy;2022 <b>EvoirEvent</b> - Todos los derechos reservados.
            </small>
        </p>
        </section>
</body>

</html>