<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvoirEvent</title>
</head>
<body>
    <img src="../images/home/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg" alt="">
    <header class="Header">
        <div class="logo">
            <img src="" alt="" class="logo">
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar...">
        </div>

        <nav class="navbar">
            <ul>
                <lo> <a href="#">Quienes Somos</a></lo>
                <li> <a href="#">Evento</a></li>
                <li> <a href="#">Disponibilidad</a></li>
                <li> <a href="#">Temas</a></li>
                <li> <a href="#">Vestimenta</a></li>
                <li> <a href="#">Servicios</a></li>
                <li> <a href="#">Experiencias</a></li>
            </ul>
        </nav>
        <section class="slider">
            <h2>Disfruta de tu fiesta...</h2>
            <h2>...Nosotrxs nos ocupamos.</h2>
            <div>
                <h4 href="#">Decubri la manera de percibir distintos estilos de vivir tu evento de la forma mas relajada y agraciada posible. Comfia, Solta y dejate llevar por el tu acontecimiento </h4>
            </div>
        </section>
    </header>
    <main class="section">
        <img src="../images/home/hannah-busing-URVe89DA5Cw-unsplash.jpg" alt="">
            <section class="aavailbiality">
                <H2>Encontra la disponibilidad que tenemos para tu evento</H2>
                <h3>Podes eleit tu lugar y conoseer todo nuestro servicios para poder reservar y asegurar tu fechaen tres simples</h3>
                <label for="date">Fecha</label>
                <input type="date" name="fecha" >
                <label for="Cantidad">Cantidad de invitados</label>
                <input type="number" name="cantidad" >
                <label for="ubicacion">Zona</label>
                <input type="text">
                <label for="evento">Tipo de Evento</label>
                <button>cotizar</button>           
            </section>
            <section class="salones">
                <img src="../images/home/stem-list-EVgsAbL51Rk-unsplash.jpg" alt="">
                <span>
                    <ul>
                        <li><a href="#">Salones</a></li>
                        <li><a href="#">events planer</a></li>
                        <li><a href="#">Quintas</a></li>
                        <li><a href="#">Estancias</a></li>
                        <li><a href="#">Restoranes</a></li>
                        <li><a href="#">Catering</a></li>
                        <li><a href="#">Pantalla</a></li>
                        <li><a href="#">dj</a></li>
                    </ul>
                    <h2>Todo lo que nesesites</h2>
                </span>
                <button>Buscar</button>
            </section>
    </main>
    <Footer>

    </Footer>

</body>
</html>