:root {
	--m1c1-color: rgb(92,13,12);
	--m1c2-color: rgb(132, 75, 65);
	--m1c3-color: rgb(140,67,31);
	--m1c3op7-color: rgba(140,67,31, 0.7);
	--m1c4-color: rgb(164, 109, 58);
	--m1c5-color: rgb(169,132,116);
	--m1c6-color: rgb(185,126,56);
	--m1c7-color: rgb(202,157,77);
	--m1c8-color: rgb(248,237,197);
	--m1c8op5-color: rgba(248,237,197, 0.5);
	--m2c1-color: rgb(22,17,4);
	--m2c2-color: rgb(38,27,4);
	--m2c3-color: rgb(74,53,9);
	--m2c4-color: rgb(135,97,16);
	--m2c5-color: rgb(210, 167, 87);
	--m2c6-color: rgb(184,172,114);
	--m2c7-color: rgb(180,164,124);
	--m2c8-color: rgb(251, 242, 224);
	--m2c8op3-color: rgba(226, 200, 144, 0.5);
	--m3c1-color: rgb(55,55,55);
	--m3c2-color: rgb(68,68,68);
	--m3c3-color: rgb(100, 100, 100);
	--mfre-font-family: 'Fredoka', sans-serif;
	--mjust-font-family: 'Just Me Again Down Here', cursive;
	--mnot-font-family: 'Noticia Text', serif;
	--mpia-font-family: 'Piazzolla', serif;
	--msha-font-family: 'Shadows Into Light', cursive;
	--mfred-font-family: 'Fredericka the Great', cursive;
	--opc-opasity: 0.2;
}

* {
    margin: 0;/* anula el borde de la bistade todo el cuerpo */
    padding: 0; /* anula espacios en todo el cuerpo */
    box-sizing: border-box;
}

body{
	background-color: var(--m2c8-color);
}

header {
	/* width: fit-content (100%); */
	/* height: max-content (100%); */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 8px;
}

nav ol {
	display: none;
}

.navbar i {
	width: 40px;
}

.burger i:checked .cross {
	display: block;
}

.cross {
	display: none;
}

.logo {
	width: 60px; /*ancho del logo */
	height: 60px;
	border-radius: 20em; /* hace redondo el logo*/
}

.name {
	display: none;
}

.sch_imput {
	display: none;
} 
.seeker {
	background: none;
	border: 0 none transparent;
}

.seeker i {
	width: 40px;
}

.account {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.list i {
	width: 40px;
}

.list p {
	display: none;
}

/* slider */

main {
	margin-bottom: 8px;
    display: flex;
    justify-content: center;
	/* z-index: 1; */
}

.container {
	width: 100%;
    height: 40% ;
    overflow: hidden;
    border: 3px solid var(--m2c5-color);
}

.slider_list {
	width: 500%;
	display: flex;
	flex-flow: row nowrap;
	/* justify-content: flex-start; */
	align-items: center;
	/* border: 5px solid green; */
    /* animation: 60s slidereanimation infinite; */
    /* animation-direction: normal; */
}

.slide {
	width: calc(100% / 5);
	/* max-width: 300px; */
	height: 200px;
	/* border: 5px solid red; */
	box-sizing: border-box; 
	list-style: none;
	animation-name: slidereanimation ;
	animation-duration: 55s;
	animation-iteration-count: infinite;
}

li {
	list-style: none !important;
}

.slider_list img {
    width: 100%;
    height: 100%;
	/* border: 3px solid blue; */
}

/* img {
	width: 100px;
	height: 100px;
} */

@keyframes slidereanimation {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-400%);
    }
}

/* consultas */
/* form {
	
	/* background-image: repeating-conic-gradient(var(--m1c3-color)10%,var(--m2c6-color) 20%); */
/* }  */

.section {
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-size: cover;
	background-image:linear-gradient(var(--m3c3-color), var(--m2c8op3-color)), url("../images/home/chuttersnap-aEnH4hJ_Mrs-unsplash.jpg");
	align-self: flex-start;
	background-color: var(--m2c8op3-color);
	/* border: 3px solid var(--m2c6-color); */
	box-shadow: 8px 8px 8px var(--m2c7-color);
	/* height: 450px; */
	
}

.availbility{
	width: auto;
	height: 33%;
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.title {
	/* width: 51%; */
	text-align: start;
	margin-left: 5px;
}

h2{
	font-size: 24px;
    font-family:var(--mfre-font-family);
	color: var(--m1c7-color);
	text-shadow: 2px 2px 2px var(--m1c3-color);
}
.text {
	/* height: 50%; */
	margin-right: 5px;
	text-align: end;
	text-shadow:2px 2px 2px var(--m2c7-color);
	margin-top: 14px;
	font-family: var(--mpia-font-family);
	color: var(--m2c2-color);
}

.inputs {
	width: auto;
	height: 52%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    /* color: rgb(109, 140, 194); */
}

.option .label {
    font-size: 15px;
    padding-left: 10px;
    position: initial;
    font-family: var(--mpia-font-family);
	font-weight: bold;
    transition: 0.3s;
    pointer-events: none;
}

.input {
    width: 200px;
    height: 35px;
	border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
	font-family: var(--mfred-font-family);
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px var(--m2c1-color),
    -1px -1px 6px var(--m1c8op5-color);
}


.input:focus {
    border: 2px solid transparent;
    box-shadow: 3px 3px 10px var(--m3c1-color),
    -1px -1px 6px var(--m1c8op5-color),
    inset 3px 3px 10px var(--m3c1-color),
    inset -1px -1px 6px var(--m1c8op5-color);
}

.option .input:valid ~ .label,
.option .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-65px);
    z-index: 1;
}

.option .input:valid,
.option .input:focus {
    box-shadow: 3px 3px 10px var(--m3c1-color),
    -1px -1px 6px var(--m1c8op5-color),
    inset 3px 3px 10px var(--m3c1-color),
    inset -1px -1px 6px var(--m1c8op5-color);
	background-color: transparent;
}

select {
	width: 200px;
    height: 35px;
	border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
	font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px var(--m2c1-color),
    -1px -1px 6px var(--m1c8op5-color);
}

.choice .option:valid,
.choice .option:focus {
	box-shadow: 3px 3px 10px var(--m3c1-color),
    -1px -1px 6px var(--m1c8op5-color),
    inset 3px 3px 10px var(--m3c1-color),
    inset -1px -1px 6px var(--m1c8op5-color);
	background-color: transparent;
}

.btn {
	width: 200px;
	display: flex;
	margin: 20px;
	flex-direction: row;
	justify-content: flex-start;
	gap: 15px;
}

.send {
	box-shadow:inset 0px 0px 14px -3px var(--m1c2-color);
	background:linear-gradient(to bottom,var(--m1c3op7-color) 5%, var(--m2c3-color) 100%);
	background-color:var(--m1c3op7-color);
	border-radius:6px;
	border:1px solid var(--m2c5-color);
	display:inline-block;
	cursor:pointer;
	color: var(--m2c5-color);
	font-family:Arial;
	font-size:14px;
	font-weight: lighter;
	padding:2px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--m1c2-color);
}

.send:hover {
	background:linear-gradient(to bottom, var(--m1c4-color) 5%, var(--m2c7-color) 100%);
	background-color:var(--m1c3-color);
}

.send:active {
	position:relative;
	top:1px;
}

/*Galeria  */
.salones {
	border: 2px solid var(--m1c3-color);
}
.container_saloon {
	display: grid;
	grid-template-areas: 4/ 1fr;

}

a .images {
	width: 100%;
	height: 80px;
}

/* footer  */

.logo2 {
    height:8em;
    margin: 0.7em;
	border-radius: 20em;
}