:root {
	color: #090804;
	color: #c48439;
	color: #d6b362;
	color: #7c5c0c;
	color: #bca47c;
	color: #795e1f;
	color: #5c0c0c;
	color: #ccb0a0;
	color: #7c443c;
	color: #a47454;
	color: #544433 ;
	color: #cdae80;
	color: #9e8767;
	font-family: ;
}

*{

}

body{
	margin: 0px;/* anula el borde de la bistade todo el cuerpo */
	padding: 0%; /* anula espacios en todo el cuerpo */
	background-image: url(../images/home/hannah-busing-URVe89DA5Cw-unsplash.jpg);/* deja una imagen de fondo del cuerpo */
	
}

header {
	width: 100%; /* ancho del header*/
	height: 200px; /*alto del header*/
	display: flex;/* para que el econtenedor deje de comportarce */
	flex-direction: row;/*direccionamiento en fila*/
	flex-wrap: wrap ;/*precerva el tamaño de los elementos */
	justify-content: space-around;
}

.container{
	width: 250px;
	flex-direction: column
}

.logo{
	width: 120px; /*ancho del logo */
	border-radius: 20em; /* hace redondo el logo*/
	margin: 2px 30px 0px 30px;
}

h1 {
	margin: 0%;
	color: #bca47c;
	text-align: center;
	/* poneer fuente */
}

.search {
	position: relative;
	width: 196px;
}

.search input{ /* disposicion de la barrade busqueda*/
    width: 100px;
    border: none;
    margin: 2em;
    padding: 2em;
	justify-content: center;
} 

/* serchcopiado */

.search {
	position: relative;
	width: 196px;
}

.search input {
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #090804;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}

.search span {
	/* position: absolute; */
	left: 0;
	padding: 20px 10px 10px;
	font-size: 1em;
	color: #ccb0a0;
	letter-spacing: 00.05em;
	transition: 0.5s;
	pointer-events: none;
}

.search input:valid ~span,
.search input:focus ~span {
	color: #d6b362;
	transform: translateX(-10px) translateY(-34px);
	font-size: 0,75em;
}

.search i {
	/* position: absolute; */
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #cdae80;
	border-radius: 4px;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.search input:valid ~i,
.search input:focus ~i {
	height: 44px;
}

/* finde search copiado */
.account { 
	width: 33.33%;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}



.list {
	color: #544433;
	text-decoration: none;
}


/* nav bar en el head */

.navbar{ /* disposicion de la nav*/
    width: auto;
    border: 0.25em solid rgb(000, 000, 000);
    border-radius: 20%;
    background-color: rgba(88, 90, 88, 0.5); 
}

.navbar_links{
	list-style-type: none; /* esconde el estilo de lista */
	display: flex; /*direccion de la navbar */
	flex-direction: row; /* posiciona en fila */
	justify-content: space-around; /* Da espacio acada elemento mostrandolo centrado */
}

.navbar li a{
	text-decoration: none;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-display: inherit;
    font-weight: 400px;
    color:rgba(50, 114, 50, 0.5);
	padding:20px;
	
}


/* slider en el  header */



h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Body */

main{  /* foto fondo de pagina*/
    background-image: url("../images/home/hannah-busing-URVe89DA5Cw-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
}

.salones{
    background-image: url("../images/home/stem-list-EVgsAbL51Rk-unsplash.jpg");
}


/* footer  */

.logo2 {
    height:8em;
    margin: 0.7em;
	border-radius: 20em;
}